/*Fonts*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
}


/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-transparent-60: rgba(0, 0, 0, 0.6);
  --basic-black-transparent-50: rgba(0, 0, 0, 0.5);
  --basic-black-transparent-40: rgba(0, 0, 0, 0.4);
  --basic-black-transparent-30: rgba(0, 0, 0, 0.3);
  --basic-black-transparent-20: rgba(0, 0, 0, 0.2);
  --basic-black-transparent-10: rgba(0, 0, 0, 0.1);

  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;

  --special-grey: #D9D9D9;
  --special-yellow: #f7e296;
  --special-green: #91c92f;

  --special-yellow-dark: #f0c52e;
  --special-yellow-dark-transparent-60: rgba(240,197,46,0.6);
  --special-yellow-dark-transparent-30: rgba(240,197,46,0.3);

  --basic-white: #FFFFFF;
  --basic-white-transparent-70: rgba(255, 255, 255, 0.7);
  --basic-white-transparent-60: rgba(255, 255, 255, 0.6);
  --basic-white-transparent-30: rgba(255, 255, 255, 0.3);

  --basic-pink: #f6dada;

  --gilroy-font-family: "Gilroy", Arial, sans-serif;
  --opensans-font-family: "Open Sans", Arial, sans-serif;
}


/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 40px 0 0 0;
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Main navigation */

.main-header {
  width: 1160px;
  background-color: var(--special-yellow);
}

.main-navigation ul {
  list-style: none;
}

.site-routes {
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-routes {
  font-family: var(--opensans-font-family);
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
}


/* User navigation */

.user-routes-link,
.site-routes-link {
  color: var(--basic-black);
}

.user-routes-link:hover,
.site-routes-link:hover {
  color: var(--basic-black-transparent-60);
}

.user-routes-link:focus {
  color: var(--basic-black-transparent-30);
}

.site-routes-link:active {
  color: var(--basic-black-transparent-30);
}

.user-routes__log-off {
  color: var(--basic-black-transparent-30);
}


/* Promo slider*/

.promo-slider__list {
  list-style: none;
}

.promo-slider__description {
  line-height: 20px;
}

/* Promo slider table*/

.promo-slider-table {
  font-family: var(--gilroy-font-family);
  font-weight: 300;
  letter-spacing: 0.1em;
  text-align: left;
}

.promo-slider-table th {
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
}

.promo-slider-table td {
  font-size: 36px;
  line-height: 42px;
}


/* Popular */

.popular-list {
  list-style: none;
  font-family: var(--gilroy-font-family);
  font-size: 18px;
  font-weight: 800;
}

.popular-item a {
  color: var(--basic-black);
}

.popular-item a:active {
  color: var(--basic-black-transparent-30);
}


/* Breadcrumbs */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black-transparent-30);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: var(--basic-black-transparent-60);
}

.breadcrumbs a:active {
 color: var(--basic-black-transparent-10);
}

.breadcrumbs-current {
  color: var(--basic-black-transparent-30);
}


/* Title */

.title {
  font-family: var(--gilroy-font-family);
  font-weight: 800;
}

.section-title {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.promo-slider__title,
.page-title {
  font-size: 47px;
  line-height: 58px;
}

.filter-title,
.sorting-title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-title {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}


/* Services slider */

.services-slider-wrapper {
  background-color: var(--basic-grey-light);
}

.services-slider ul {
  list-style: none;
}

.services-slider-item p {
  line-height: 30px;
}


/* Partners */

.partners-list {
  list-style: none;
}


/* About us */

.about-us__list {
  font-family: var(--gilroy-font-family);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}


/* Button */

.btn {
  font-family: var(--gilroy-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: var(--special-yellow-dark);
  box-shadow:
    inset 0 8px var(--basic-white),
    inset 0 -8px var(--basic-white);
}

.btn:hover {
  box-shadow:
    inset 0 0 white,
    inset 0 0 white;
  transition: 0.2s linear;
}

.btn:active {
  color: var(--basic-black-transparent-30);
  transition: none;
}

.services-slider__btn {
  box-shadow:
    inset 0 8px var(--basic-grey-light),
    inset 0 -8px var(--basic-grey-light);
}

.services-slider__btn:hover {
  box-shadow:
    inset 0 0 var(--basic-grey-light),
    inset 0 0 var(--basic-grey-light);
}

.sorting-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: var(--basic-black-transparent-30);
  vertical-align: middle;
  border: none;
  background-color: transparent;
}

.sorting-btn:hover {
  color: var(--basic-black-transparent-60);
}

.sorting-btn:active {
  color: var(--basic-black);
}

.sorting-btn_active {
  color: var(--basic-black);
}

.sorting-btn_active:hover {
  color: var(--basic-black);
}

.sorting-btn_active:active {
  color: var(--basic-black);
}

.btn-add {
  font-size: 13px;
  text-align: center;
  color: var(--basic-black-transparent-50);
  vertical-align: middle;
  letter-spacing: 0.1em;
  border: none;
  background-color: transparent;
}

.btn-add:hover {
  color: var(--basic-black);
}

.btn-add:active {
  color: var(--basic-black-transparent-20);
}


/* Sorting */

.sorting-list {
  list-style: none;
}


/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-title-link {
  color: var(--basic-black);
}

.catalog-price {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.products-nav-list {
  font-family: var(--gilroy-font-family);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--basic-grey-light);
}

.product-nav-direction {
  color: var(--basic-black);
}

.product-nav-direction:hover {
  background-color: var(--special-grey);
}

.product-nav-direction:active {
  color: var(--basic-black-transparent-30);
}

.product-nav-link {
  color: var(--basic-black-transparent-30);
}

.product-nav-link:hover {
  color: var(--basic-black-transparent-60);
}

.product-nav-link:active {
  color: var(--basic-black);
}

.product-nav-link_active {
  color: var(--basic-black);
}

.product-nav-link_active:hover {
  color: var(--basic-black);
}

.product-nav-link_active:active {
  color: var(--basic-black);
}


  /* Main footer */

.main-footer {
  color: var(--basic-white);
}

.main-footer-wrapper {
  background-color: var(--basic-dark);
}

.main-footer-middle .site-routes,
.main-footer-middle .social,
.main-footer-right .user-routes {
  list-style: none;
}

.main-footer__phone {
  color: var(--basic-white);
}

/* User main footer */

.main-footer-middle .site-routes-link,
.main-footer-middle .social-link {
  color: var(--basic-white);
}

.main-footer-right .user-routes-link {
  color: var(--basic-white-transparent-70);
}

.main-footer-right .user-routes-link:hover {
  color: var(--basic-white);
}

.main-footer-middle .site-routes-link:hover {
  color: var(--basic-white-transparent-60);
}

.main-footer-middle .site-routes-link:active {
 color: var(--basic-white-transparent-30);
}

.main-footer-right .user-routes-link:active {
  color: var(--basic-white-transparent-30);
}


/* SVG */

.svg-logo__footer {
  fill: var(--special-yellow-dark);
}

.logo:hover .svg-logo {
  fill-opacity: 0.6;
}

.logo:active .svg-logo {
  fill-opacity: 0.3;
}

.slider-btn {
  border: none;
  background-color: transparent;
  fill: none;
  stroke: var(--basic-black);
}


/* SVG catalog */

.sorting-arrow {
  border: none;
  background-color: transparent;
}

.sorting-arrow__up {
  fill: var(--basic-black-transparent-20);
}

.sorting-arrow__down {
  fill: var(--basic-black);
}

.sorting-arrow_use:hover {
  fill: var(--basic-black-transparent-40);
}

.sorting-arrow_use:active {
  fill: var(--basic-black);
}
