/*Fonts*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
  url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
}


/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-transparent-60: rgba(0, 0, 0, 0.6);
  --basic-black-transparent-50: rgba(0, 0, 0, 0.5);
  --basic-black-transparent-40: rgba(0, 0, 0, 0.4);
  --basic-black-transparent-30: rgba(0, 0, 0, 0.3);
  --basic-black-transparent-20: rgba(0, 0, 0, 0.2);
  --basic-black-transparent-10: rgba(0, 0, 0, 0.1);

  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;

  --special-grey: #d9d9d9;
  --special-grey-dark: #dcdcdc;

  --special-yellow: #f7e296;
  --special-green: #91c92f;

  --special-yellow-dark: #f0c52e;
  --special-yellow-dark-transparent-60: rgba(240, 197, 46, 0.6);
  --special-yellow-dark-transparent-30: rgba(240, 197, 46, 0.3);

  --basic-white: #FFFFFF;
  --basic-white-transparent-70: rgba(255, 255, 255, 0.7);
  --basic-white-transparent-60: rgba(255, 255, 255, 0.6);
  --basic-white-transparent-30: rgba(255, 255, 255, 0.3);

  --basic-pink: #f6dada;

  --gilroy-font-family: "Gilroy", Arial, sans-serif;
  --opensans-font-family: "Open Sans", Arial, sans-serif;
}


/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 40px 0 0 0;
  font-family: var(--opensans-font-family);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* Navigation */

.main-header {
  width: 1160px;
  padding: 30px 60px 160px;
  background-color: var(--special-yellow);
}

.inner-page .main-header {
  margin-bottom: 45px;
  padding-bottom: 45px;
}

.main-navigation {
  position: relative;
}

.logo-header {
  position: absolute;
  top: -50px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-routes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 30px;
}

.user-routes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.user-routes-compare {
  margin-left: auto;
  margin-right: 40px;
}

.main-header .user-routes__log-off {
  margin-left: 40px;
}

.site-routes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  font-family: var(--gilroy-font-family);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.site-routes-catalog {
  width: 500px;
  margin-right: 40px;
}

.site-routes-delivery {
  margin-right: 35px;
}

.site-routes-warranty {
  margin-right: auto;
}

.site-routes .catalog-routes {
  display: none;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;

  position: absolute;
  right: -60px;

  width: 1160px;
  height: 160px;
  padding: 30px 60px;

  font-family: var(--opensans-font-family);
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;

  background-color: var(--special-yellow);
}

.catalog-routes .catalog-routes-item {
  margin-right: 60px;
}

.site-routes > li:hover .catalog-routes {
  display: flex;
  z-index: 1;
}


/* Main search */

.main-search__input {
  width: 340px;
  padding: 14px 14px 14px 38px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 300;

  background-color: transparent;
  border: none;
}

.main-search__input:focus {
  outline: none;
  border-bottom: 2px solid var(--basic-black);
}

.main-search__button {
  margin-left: -5px;
  padding: 14px 17px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid var(--basic-black);
  outline: none;

  opacity: 0;
}

.main-search__input:focus ~ .main-search__button {
  opacity: 1;
}

.main-search__button:hover {
  color: var(--basic-white);

  background-color: var(--basic-black);
}

.main-search__button:active {
  color: var(--basic-white-transparent-30);

  background-color: var(--basic-black);
  opacity: 1;
}

/* User navigation */

.user-routes-link,
.site-routes-link {
  color: var(--basic-black);
}

.user-routes-link:hover,
.site-routes-link:hover {
  color: var(--basic-black-transparent-60);
}

.user-routes-link:focus {
  color: var(--basic-black-transparent-30);
}

.site-routes-link:active {
  color: var(--basic-black-transparent-30);
}

.user-routes__log-off {
  color: var(--basic-black-transparent-30);
}


/* Promo slider*/

.promo-slider {
  position: relative;

  margin-bottom: 120px;
}

.promo-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider__item {
  display: none;
}

.promo-slider__item_active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  margin-top: -130px;
}

.promo-slider__image {
  align-self: center;
  justify-self: center;
}

.promo-slider__content {
  padding-top: 95px;
}

.promo-slider__description {
  margin: 25px 0 55px;

  line-height: 20px;
}

.btn-dots {
  position: absolute;
  right: 82px;
  bottom: 125px;
}

/* Promo slider table*/

.promo-slider-table {
  margin-top: 55px;

  font-family: var(--gilroy-font-family);
  font-weight: 300;
  letter-spacing: 0.1em;
  text-align: left;
}

.promo-slider-table th {
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
}

.promo-slider-table td {
  font-size: 36px;
  line-height: 42px;
}


/* Popular */

.popular {
  margin-bottom: 85px;
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
  font-family: var(--gilroy-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.popular-link {
  color: var(--basic-black);
}

.popular-link:active {
  color: var(--basic-black-transparent-30);
}


/* Breadcrumbs */
.breadcrumbs {
  display: flex;

  margin: 30px 0 0;
  padding: 0;

  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 40px;
}

.breadcrumbs a {
  color: var(--basic-black-transparent-30);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: var(--basic-black-transparent-60);
}

.breadcrumbs a:active {
  color: var(--basic-black-transparent-10);
}

.breadcrumbs-current {
  color: var(--basic-black-transparent-30);
}


/* Title */

.title {
  margin: 0;
  padding: 0;

  font-family: var(--gilroy-font-family);
  font-weight: 800;
}

.section-title {
  margin-bottom: 40px;

  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.promo-slider__title,
.page-title {
  font-size: 47px;
  line-height: 58px;
}

.filter-title,
.sorting-title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-title {
  margin-right: 72px;
}

.catalog-title {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}


/* Services slider */

.services-slider {
  margin-bottom: 90px;
  padding: 100px 0 170px;

  background-color: var(--basic-grey-light);
}

.services-grid {
  display: grid;
  grid-template-columns: 400px 1fr;

  margin-top: -128px;
}

.services-slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-slider-item p {
  line-height: 30px;
  letter-spacing: 0.1em;
}


/* Partners */

.partners {
  margin-bottom: 90px;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.partners-list img {
  filter: grayscale(100%);
  opacity: 0.2;
}

.partners-list img:hover {
  filter: none;
  opacity: 1;
}


.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  margin-bottom: 85px;
}


/* About us */

.about-us p {
  margin-bottom: 40px;
}

.about-us__list {
  font-family: var(--gilroy-font-family);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}


/* Button */

.btn {
  padding: 9px 43px;

  font-family: var(--gilroy-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-black);

  vertical-align: middle;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
}

.sorting-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: var(--basic-black-transparent-30);
  vertical-align: middle;
  border: none;
  background-color: transparent;
}

.sorting-btn:hover {
  color: var(--basic-black-transparent-60);
}

.sorting-btn:active {
  color: var(--basic-black);
}

.sorting-btn_active {
  color: var(--basic-black);
}

.sorting-btn_active:hover {
  color: var(--basic-black);
}

.sorting-btn_active:active {
  color: var(--basic-black);
}

.btn-add {
  margin-top: 20px;

  font-size: 13px;
  text-align: center;
  color: var(--basic-black-transparent-50);
  vertical-align: middle;
  letter-spacing: 0.1em;

  border: none;
  background-color: transparent;
}

.btn-add:hover {
  color: var(--basic-black);
}

.btn-add:active {
  color: var(--basic-black-transparent-20);
}


/* Catalog grid */

.catalog-grid {
  display: grid;
  grid-template-columns: 328px 1fr;
  grid-template-rows: min-content 1fr;
}


/* Main title */

.main-title {
  padding: 0 60px;
  margin-bottom: 50px;
}


/* Filter */

.filter-title-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  padding: 25px 193px 25px 60px;

  background-color: var(--special-grey-dark);
}

.form-filter {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.form-filter {
  background-color: var(--basic-grey-light);
}


/* Sorting */

.sorting {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;

  padding: 22px 0 22px 72px;

  background-color: var(--basic-grey-light);
}

.sorting button {
  margin: 0;
  padding: 0;
}

.sorting-list {
  display: flex;

  margin: 0;
  padding: 0;

  font-size: 0;
  list-style: none;
}

.sorting-item {
  margin-right: 30px;
}

.arrow-list {
  display: flex;

  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.arrow-list-item:first-child {
  margin-right: 16px;
}

/* Catalog */

.catalog {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  margin-left: 72px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 25px 0 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  margin-top: 45px;

  width: 360px;
  min-height: 455px;
}

.catalog-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.catalog-info-wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 25px;
}

.catalog-title-link {
  width: 260px;

  color: var(--basic-black);
}

.catalog-price {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 170px;
  left: 20%;
  z-index: 1;
}

.products-nav-list {
  display: flex;
  justify-content: space-between;

  margin: 38px 0 78px ;
  padding: 0;

  list-style: none;
  font-family: var(--gilroy-font-family);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background-color: var(--basic-grey-light);
}

.page-number {
  align-self: center;

  margin: 0 -180px;
}

.product-nav-direction {
  display: block;

  padding: 25px 30px;

  color: var(--basic-black);
}

.product-nav-direction:hover {
  background-color: var(--special-grey);
}

.product-nav-direction:active {
  color: var(--basic-black-transparent-30);
}

.product-nav-link {
  color: var(--basic-black-transparent-30);
}

.product-nav-link:hover {
  color: var(--basic-black-transparent-60);
}

.product-nav-link:active {
  color: var(--basic-black);
}

.product-nav-link_active {
  color: var(--basic-black);
}

.product-nav-link_active:hover {
  color: var(--basic-black);
}

.product-nav-link_active:active {
  color: var(--basic-black);
}


/* Main footer */

.main-footer {
  padding-top: 46px;
  padding-bottom: 64px;

  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.main-footer .container {
  display: flex;
  flex-direction: column;
}

.main-footer-logo {
  display: inline-block;
  margin-top: 18px;
}

.main-footer ul {
  margin: 0;
  padding: 0;
}

.main-footer-top,
.main-footer-middle,
.main-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer-top .user-routes-item:not(:first-child) {
  margin-left: 64px;
}

.main-footer-top .user-routes__log-off {
  margin-left: -40px;
}

.main-footer-middle .site-routes-item:not(:last-child) {
  margin-right: 35px;
}

.main-footer-middle .social-item:not(:last-child) {
  margin-right: 20px;
}

.main-footer-bottom::before {
  content: "";
  display: block;

  width: 80px;
  height: 7px;

  background-color: var(--special-yellow-dark);
}

.main-footer-bottom .social {
  display: flex;
}

.main-footer-bottom .social-item:not(:last-child) {
  margin-right: 20px;
}

.main-footer-middle .site-routes,
.main-footer-bottom .social,
.main-footer-top .user-routes {
  list-style: none;
}

.main-footer__phone {
  margin-left: 35px;

  color: var(--basic-white);
}

/* User main footer */

.main-footer-middle .site-routes-link,
.main-footer-bottom .social-link {
  color: var(--basic-white);
}

.main-footer-top .user-routes-link {
  color: var(--basic-white-transparent-70);
}

.main-footer-top .user-routes-link:hover {
  color: var(--basic-white);
}

.main-footer-middle .site-routes-link:hover {
  color: var(--basic-white-transparent-60);
}

.main-footer-middle .site-routes-link:active {
  color: var(--basic-white-transparent-30);
}

.main-footer-top .user-routes-link:active {
  color: var(--basic-white-transparent-30);
}


/* SVG */

.svg-logo__footer {
  fill: var(--special-yellow-dark);
}

.logo:hover .svg-logo {
  fill-opacity: 0.6;
}

.logo:active .svg-logo {
  fill-opacity: 0.3;
}

.slider-btn {
  border: none;
  background-color: transparent;
  fill: none;
  stroke: var(--basic-black);
}


/* SVG catalog */

.sorting-arrow {
  border: none;
  background-color: transparent;
}

.sorting-arrow__up {
  fill: var(--basic-black-transparent-20);
}

.sorting-arrow__down {
  fill: var(--basic-black);
}

.sorting-arrow_use:hover {
  fill: var(--basic-black-transparent-40);
}

.sorting-arrow_use:active {
  fill: var(--basic-black);
}
